/* Reset all margins, paddings, and set box-sizing */
* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.div1{
position: relative;
width: 100%;
height: 100%;
background: #E0E0E0;
}

.div2{
position: absolute;
width: 100%;
height: 116px;
left: 0px;
top: 0px;
background: #104019;
}

.Wname{
position: absolute;
width: auto;
height: 44px;
left: 102px;
top: 36px;
color: white;
font-size: 36px;
}


.div3{

position: absolute;
width: 598px;
height: 157px;
left: 170px;
top: 178px;
background: #D9D9D9;
border: 1px solid #104019;
}

.div4{
position: absolute;
width: 598px;
height: 271px;
left: 170px;
top: 364px;
background: #D9D9D9;
border: 1px solid #104019;
}

.div5{
position: absolute;
width: 598px;
height: 457px;
left: 790px;
top: 178px;
border: 1px solid #000000;
}
img{
    width: 598px;
    height: 457px;
}
.div6{
position: absolute;

height: 24px;
left: 200px;
top: 192px;
font-family: 'Inter';
font-style: normal;

font-size: 20px;
line-height: 24px;
color: #000000;
}

.div7{
position: absolute;
width: 200px;
height: 100px;
left: 200px;
top: 225px;
font-family: 'Inter';
font-style: normal;

font-size: 12px;
line-height: 20px;
}

.div8{
position: absolute;
width: 450px;
height: 24px;
left: 200px;
top: 376px;
font-family: 'Inter';
font-style: normal;
font-weight: 700px;
font-size: 20px;
line-height: 24px;
color: #000000;
}

.div9{
position: absolute;
width: 554px;
height: 207px;
left: 200px;
top: 413px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
color: #000000;
}


@media only screen and (min-width: 520px) and (max-width: 1194px) {
    /* Styles for iPad Air 5 in both orientations */
    .div2{
        height: 100px;
        
    }
    .div3{
        position: absolute;
        left: 30px;
        width: 400px;
    }
    .div3{
        position: absolute;
        left: 30px;
    }
    .div4{
        position: absolute;
        left: 30px;
        width: 400px;
        height: 320px;
    }
    .div5{
        width: 340px;
        height: 510px;
        position: absolute;
        left: 450px;
    }
    .div6{
        position: absolute;
        left: 50px;
        font-size: 15px;
    }
    .div7{
        position: absolute;
        left: 50px;
    }
    .div8{
        position: absolute;
        left: 50px;
        font-size: 15px;
    }
    .div9{
        position: absolute;
        left: 50px;
        width: 350px;
        
    }
    .Wname{
        font-size: 30px;
        position: absolute;
        left: 30px;
    }
    img{
        width: 340px;
        height: 510px;
    }
}

@media only screen and (min-width: 470px) and (max-width: 519px) {
    /* Styles for iPad Air 5 in both orientations */
    .div2{
        height: 70px;
        position: absolute;
    }
    .div3{
        position: absolute;
        left: 10px;
        top: 85px;
        width: 455px;
    }
    .div4{
        position: absolute;
        left: 10px;
        top: 260px;
        width: 455px;
        height: 320px;
    }
    .div5{
        position: absolute;
        top: 9px;
        left: 415px;
        width: 50px;
        height: 50px;
    }
    .div6{
        position: absolute;
        left: 50px;
        top: 90px;
        font-size: 15px;
        width: auto;
    }
    .div7{
        position: absolute;
        left: 30px;
        top: 115px;
        width: 330px;
    }
    .div8{
        width: auto;
        position: absolute;
        left: 30px;
        top: 270px;
        font-size: 15px;
    }
    .div9{
        position: absolute;
        left: 30px;
        top: 295px;
        width: 420px;
        
    }
    .Wname{
        font-size: 15px;
        position: absolute;
        left: 15px;
        top: 30px;
        width: auto;
    }
    img{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (min-width: 432px) and (max-width: 469px) {
    /* Styles for iPad Air 5 in both orientations */
    .div2{
        height: 70px;
        
        
    }
    .div3{
        position: absolute;
        left: 15px;
        top: 85px;
        width: 400px;
    }
    
    .div4{
        position: absolute;
        left: 15px;
        top: 260px;
        width: 400px;
        height: 320px;
    }
    .div5{
        position: absolute;
        top: 9px;
        left: 365px;
        width: 50px;
        height: 50px;
    }
    .div6{
        position: absolute;
        left: 40px;
        top: 90px;
        font-size: 15px;
        width: auto;
    }
    .div7{
        position: absolute;
        left: 40px;
        top: 115px;
        width: 330px;
    }
    .div8{
        position: absolute;
        left: 40px;
        top: 270px;
        font-size: 15px;
        width: auto;
    }
    .div9{
        position: absolute;
        left: 40px;
        top: 295px;
        width: 330px;
        
    }
    .Wname{
        font-size: 15px;
        position: absolute;
        left: 15px;
        top: 30px;
        width: 250px;
    }
    img{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 431px) {
    /* Styles for iPad Air 5 in both orientations */
    
    .div2{
        height: 70px;
        
    }
    .div3{
        position: absolute;
        left: 10px;
        top: 85px;
        width: 400px;
    }
    .div3{
        position: absolute;
        left: 10px;
        width: 370px;
    }
    .div4{
        position: absolute;
        left: 10px;
        top: 260px;
        width: 370px;
        height: 320px;
    }
    .div5{
        position: absolute;
        top: 9px;
        left: 330px;
        width: 50px;
        height: 50px;
    }
    .div6{
        position: absolute;
        left: 50px;
        top: 90px;
        font-size: 15px;
    }
    .div7{
        position: absolute;
        left: 30px;
        top: 115px;
        width: 330px;
    }
    .div8{
        width: 330px;
        position: absolute;
        left: 30px;
        top: 270px;
        font-size: 15px;
    }
    .div9{
        position: absolute;
        left: 30px;
        top: 295px;
        width: 330px;
        
    }
    .Wname{
        font-size: 15px;
        position: absolute;
        left: 15px;
        top: 30px;
    }
    img{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (min-width: 270px) and (max-width: 320px) {
    .div1{
        width: 100%;
    }
    .div2{
        height: 70px;
        
    }
    .div3{
        position: absolute;
        left: 10px;
        top: 85px;
        width: 300px;
    }
    .div4{
        position: absolute;
        left: 10px;
        top: 260px;
        width: 300px;
        height: 375px;
    }
    .div5{
        position: absolute;
        top: 15px;
        left: 260px;
        width: 35px;
        height: 35px;
    }
    .div6{
        position: absolute;
        left: 20px;
        top: 90px;
        font-size: 12px;
        width: auto;
    }
    .div7{
        position: absolute;
        left: 30px;
        top: 115px;
        width: 200px;
    }
    .div8{
        width: auto;
        position: absolute;
        left: 30px;
        top: 270px;
        font-size: 10px;
    }
    .div9{
        position: absolute;
        left: 30px;
        top: 295px;
        width: 230px;
        
    }
    .Wname{
        font-size: 12px;
        position: absolute;
        left: 15px;
        top: 30px;
        width: auto;
    }
    img{
        width: 35px;
        height: 35px;
    }
}
